@media(min-width:650px){
.campospequenos-esquerda{ 
    display: block; 
    position: relative !important;
    width: 48.2% !important;    
    float: left !important;
}
.campospequenos-direita{ 
    display: block; 
    position: absolute !important;
    width: 48.2% !important;  
    right: 0;  
}
.camposmicro-esquerda{ 
    display: block; 
    position: relative !important;
    width: 30% !important;    
    float: left !important;
}
.camposmicro-centro{ 
    display: block; 
    position: absolute !important;
    width: 30% !important;  
    right: 35%; 
}
.camposmicro-direita{ 
    display: block; 
    position: absolute !important;
    width: 30% !important;  
    right: 0;  
}
}
.wpforms-field-description{
    margin-top: -3px !important;
}
.div-presc,.btncadastro{
    margin-top: 40px !important;
}
/*.telefones .wpforms-field-name-first{
    display: none !important;
}*/

