@media(min-width:650px){
.campospequenos-esquerda{ 
    display: block; 
    position: relative !important;
    width: 48.2% !important;    
    float: left !important;
}
.campospequenos-direita{ 
    display: block; 
    position: absolute !important;
    width: 48.2% !important;  
    right: 0;  
}
.camposmicro-esquerda{ 
    display: block; 
    position: relative !important;
    width: 30% !important;    
    float: left !important;
}
.camposmicro-centro{ 
    display: block; 
    position: absolute !important;
    width: 30% !important;  
    right: 35%; 
}
.camposmicro-direita{ 
    display: block; 
    position: absolute !important;
    width: 30% !important;  
    right: 0;  
}
}
.wpforms-field-description{
    margin-top: -3px !important;
}
.div-presc,.btncadastro{
    margin-top: 40px !important;
}

.cadastro-pap{
    display: block;
    position: relative;
    width: 200px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #0063be;
    color: #0063be;
    float: left;
    margin-right: 20px;
}
.cadastro-pap:hover{
    background-color:  #0063be;
    color: #fff !important;   
}

.possui-cuidador{
    display: block;
    position: relative !important;
    width: 300px !important;
    top: -30px !important;
}

#wpforms-1388-field_33_1{    
    margin-left: 0px !important;
}

.cuidador{
    display: none;
}

.aceito{
    display: block;
    position: relative !important;
    width: 300px !important;
}
#wpforms-1388-field_34_1{
    margin-left: 0px !important;
}

.dados-form .wrapper {
    width: 100%;
    clear: both;
    display: block;
}
  
.dados-form .header-row {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
  
.dados-form span.details, .dados-form span.column-label {
    display: inline-block;
    float: left;
    width: 33%;
    margin-right: 2px;
    text-align: center;
    margin: 5px 0;
}
  
.dados-form .entries {
    display: block;
    clear: both;
    width: 100%;
}
  
.dados-form .header-row span.column-label {
    text-transform: uppercase;
    letter-spacing: 2px;
}
 
.dados-form .entry-details {
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: block;
    float: left;
    margin: 20px 0;
    padding-bottom: 20px;
}