.controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 100%;
  text-align: center;
  pointer-events: none;
  visibility: hidden;
}

.control {
  position: absolute;
  top: 0;
  height: 100%;
  cursor: pointer;
  pointer-events: auto;
  visibility: visible;
}
.control:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  top: 50%;
  font-family: 'FontAwesome';
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.prev {
  left: 0;
}
.prev:before {
  content: '\f104';
}

.next {
  right: 0;
}
.next:before {
  content: '\f105';
}

.pagination {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  text-align: center;
}
.pagination span {
  display: inline-block;
  cursor: pointer;
  border-radius: 100%;
}
.pagination span.active {
  pointer-events: none;
}

.baby {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

.baby-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s, -webkit-transform 1s;
  opacity: 0;
}

.baby-item.active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.control {
  width: 15%;
  font-size: 3.5em;
}

.pagination {
  text-align: center;
}
.pagination span {
  height: 1em;
  width: 1em;
  margin: 1% -8%;
}
.pagination span:hover {
  background: rgba(255, 255, 255, 0.75);
}
.pagination span.active {
  background: rgba(0, 0, 0, 0.5);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

*:before,
*:after {
  pointer-events: none;
}

html {
  overflow-x: hidden;
}

.baby-item {
  height: 100vh;
}
.baby-item:before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16vmin;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.baby-item:nth-child(1) {
  background: #fff;
}
.baby-item:nth-child(1):before {
  content: "1";
}
.baby-item:nth-child(2) {
  background: #fff;
}
.baby-item:nth-child(2):before {
  content: "2";
}
.baby-item:nth-child(3) {
  background: #fff;
}
.baby-item:nth-child(3):before {
  content: "3";
}
.baby-item:nth-child(4) {
  background: #fff;
}
.baby-item:nth-child(4):before {
  content: "4";
}
